Requirements for Group 17

1. The system shall be able to display accounts to the user
2. The system shall be able to create a new account for a user
3. The system shall be able to move specific amounts between accounts/customers
4. The system shall be able to send money to a person/company
5. The system shall be able to allow microloans between customers
6. The system shall be able to allow customers to withdraw money from accounts
7. The system shall be able to allow customers to deposit money to accounts


Roles:
A - Scrum Master
B - Product Owner
C and D - Scrum Team
